#panda series
#one dimensional
#labelled arrays of any data type
#sequence of values with associated labels

In [1]:
students = ['samim', 'lisa', 'somesh']
students

['samim', 'lisa', 'somesh']

In [2]:
type(students)

list

In [6]:
import pandas as pd
pd.Series(students)  #its object

0     samim
1      lisa
2    somesh
dtype: object

In [7]:
ages = [25,32,43]
pd.Series(ages)  # its int64

0    25
1    32
2    43
dtype: int64

In [8]:
heights = [1.2,3.5,6.8]
pd.Series(heights) # its float

0    1.2
1    3.5
2    6.8
dtype: float64

In [12]:
mixed = [ True, 3.5, 5, {'age': 400}, 'samim']
pd.Series(mixed)  # any data type

0            True
1             3.5
2               5
3    {'age': 400}
4           samim
dtype: object

#parameter vs arguments

In [13]:
pd.Series(students)    #students is argument

0     samim
1      lisa
2    somesh
dtype: object

In [17]:
pd.Series(data=students)     # data is the parameter  # students is arguments

0     samim
1      lisa
2    somesh
dtype: object

In [18]:
def greeting(something):      # something is parameter
    return something

greeting('hi samim')        # hi samim is arguments

'hi samim'

In [24]:
books_list = ['raja ki barat', 'asman ki jadu','ramayan']
list1_s = pd.Series(books_list)   # see 0,1 , 2 are the labels
list1_s

0    raja ki barat
1    asman ki jadu
2          ramayan
dtype: object

In [23]:
dict1 = { 0: 'raja ki barat', 1: 'asman ki jadu', 2:'ramayan'}
dict1_s = pd.Series(dict1)
dict1_s

0    raja ki barat
1    asman ki jadu
2          ramayan
dtype: object

In [21]:
list11 =[0: 'raja ki barat', 1: 'asman ki jadu', 2:'ramayan']
pd.Series(list1)    # you can not

SyntaxError: invalid syntax (3249022575.py, line 1)

In [25]:
list1_s.equals(dict1_s)

True

In [26]:
list1_s = pd.Series(data=['this','is','fun'])
list1_s

0    this
1      is
2     fun
dtype: object

In [27]:
dict1_s = pd.Series(data = {0:'this', 1:'is', 2:'fun'})
dict1_s

0    this
1      is
2     fun
dtype: object

In [28]:
list1_s.equals(dict1_s)

True

In [29]:
pd.Series(data=0)   #valid

0    0
dtype: int64

In [30]:
pd.Series(data='weather')  #valid

0    weather
dtype: object

#dtype attribute

In [31]:
age = [12,32,45]
age

[12, 32, 45]

In [34]:
pd.Series(age) #dtype is int

0    12
1    32
2    45
dtype: int64

In [33]:
pd.Series(age,dtype=float)  # force datatype to float

0    12.0
1    32.0
2    45.0
dtype: float64

In [35]:
students

['samim', 'lisa', 'somesh']

In [37]:
students_s = pd.Series(students)
students_s

0     samim
1      lisa
2    somesh
dtype: object

In [38]:
students_s.dtype

dtype('O')

#what is dtype('o')

#numpy is homogenous. ont type of data type

In [39]:
heights

[1.2, 3.5, 6.8]

In [40]:
pd.Series(heights)

0    1.2
1    3.5
2    6.8
dtype: float64

In [41]:
heights = [1.2, '3.5', 6.8]
pd.Series(heights)   # see '3.5' is string, so its  now object

0    1.2
1    3.5
2    6.8
dtype: object

#custom labels

In [44]:
list1 = [ 'sam is good','ramayan', 'mahabharat']
list1_s =pd.Series(list1)
list1_s

0    sam is good
1        ramayan
2     mahabharat
dtype: object

In [53]:
list1 = [ 'sam is good','ramayan', 'mahabharat']
pd.Series(data=list1,index=['a','b','c'])

a    sam is good
b        ramayan
c     mahabharat
dtype: object

In [54]:
pd.Series(list1,['a','b','c'])

a    sam is good
b        ramayan
c     mahabharat
dtype: object

In [55]:
pd.Series(data=list1,index=['a','b','c'], dtype=object)

a    sam is good
b        ramayan
c     mahabharat
dtype: object

In [56]:
pd.__version__

'2.0.3'

In [59]:
list1_s = pd.Series(data=list1,index=['a','b','c'], dtype='string')
list1_s

a    sam is good
b        ramayan
c     mahabharat
dtype: string

In [60]:
list1_s.index

Index(['a', 'b', 'c'], dtype='object')

In [61]:
list1 = [1,5,7]
list1_s = pd.Series(data=list1,index=[1,2,3])
list1_s

1    1
2    5
3    7
dtype: int64

In [62]:
list1_s.index

Index([1, 2, 3], dtype='int64')

#series and index names

In [67]:
list1_s.size    #size of panda series data

3

In [68]:
list1_s.dtype

dtype('int64')

In [69]:
list2 = ['sam', 'mona','dona']
list2_s = pd.Series(list2)
list2_s

0     sam
1    mona
2    dona
dtype: object

In [70]:
list2_s.name = 'som'

In [71]:
list2_s

0     sam
1    mona
2    dona
Name: som, dtype: object

In [73]:
list2_s.index.name='book'  # naming index
list2_s

book
0     sam
1    mona
2    dona
Name: som, dtype: object

#PROJECT1

In [76]:
actor_names = ['sam', 'ram','tam','kam']
actor_ages = [ 12.5, 30.5, 35.2,50.3]
list1_s = pd.Series(data=actor_ages,index=actor_names, name='actors')
list1_s

sam    12.5
ram    30.5
tam    35.2
kam    50.3
Name: actors, dtype: float64

In [77]:
actor_dict = {'sam': 12.5, 'ram': 30.5,'tam':35.2,'kam': 50.3}
actor_s = pd.Series(actor_dict)
actor_s

sam    12.5
ram    30.5
tam    35.2
kam    50.3
dtype: float64

In [78]:
list(zip(actor_names,actor_ages))

[('sam', 12.5), ('ram', 30.5), ('tam', 35.2), ('kam', 50.3)]

In [79]:
dict(zip(actor_names,actor_ages))

{'sam': 12.5, 'ram': 30.5, 'tam': 35.2, 'kam': 50.3}

In [80]:
pd.Series(dict(zip(actor_names,actor_ages)))

sam    12.5
ram    30.5
tam    35.2
kam    50.3
dtype: float64

In [81]:
{name:age for name,age in zip(actor_names,actor_ages) }

{'sam': 12.5, 'ram': 30.5, 'tam': 35.2, 'kam': 50.3}

In [82]:
pd.Series({name:age for name,age in zip(actor_names,actor_ages) })

sam    12.5
ram    30.5
tam    35.2
kam    50.3
dtype: float64

#head() and tail() method

In [83]:
i_s = pd.Series([i for i in range(10)])
i_s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [84]:
pd.Series(range(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [85]:
i_s.size

10

In [86]:
len(i_s)

10

In [87]:
i_s.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [88]:
i_s.tail()

5    5
6    6
7    7
8    8
9    9
dtype: int64

In [89]:
i_s.head(3)

0    0
1    1
2    2
dtype: int64

In [90]:
i_s.head(n=3)

0    0
1    1
2    2
dtype: int64

In [91]:
i_s.tail(n=7)

3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [92]:
pd.Series(range(1000))

0        0
1        1
2        2
3        3
4        4
      ...
995    995
996    996
997    997
998    998
999    999
Length: 1000, dtype: int64

In [93]:
from string import ascii_lowercase

In [94]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [95]:
pd.Series(ascii_lowercase)

0    abcdefghijklmnopqrstuvwxyz
dtype: object

In [96]:
list(ascii_lowercase)

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [97]:
len(list(ascii_lowercase))

26

In [98]:
letters = list(ascii_lowercase)
letters

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [99]:
alphabet = pd.Series(letters)
alphabet

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [100]:
alphabet = pd.Series(data=letters)
alphabet

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [103]:
alphabet[0]    #index 0

'a'

In [102]:
alphabet.head(1)

0    a
dtype: object

In [104]:
alphabet[0:3]

0    a
1    b
2    c
dtype: object

In [105]:
alphabet[:3]

0    a
1    b
2    c
dtype: object

In [106]:
alphabet[5:10]

5    f
6    g
7    h
8    i
9    j
dtype: object

In [108]:
alphabet[-6:]

20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [109]:
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [111]:
from string import ascii_uppercase
ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [113]:
letters = pd.Series(data=list(ascii_lowercase),index=list(ascii_uppercase))
letters.head(3)

A    a
B    b
C    c
dtype: object

In [115]:
letters = pd.Series(data=list(ascii_lowercase),index=map(lambda x: 'label_' + x , list(ascii_uppercase)))
letters.head(3)

label_A    a
label_B    b
label_C    c
dtype: object

In [116]:
letters[0]

'a'

In [117]:
letters['label_A']

'a'

In [118]:
letters[0:3]

label_A    a
label_B    b
label_C    c
dtype: object

In [119]:
letters[:3]

label_A    a
label_B    b
label_C    c
dtype: object

In [121]:
letters[:'label_C']

label_A    a
label_B    b
label_C    c
dtype: object

In [126]:
letters['label_F':'label_J']

label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
dtype: object

In [128]:
letters.add_prefix('label_')

label_label_A    a
label_label_B    b
label_label_C    c
label_label_D    d
label_label_E    e
label_label_F    f
label_label_G    g
label_label_H    h
label_label_I    i
label_label_J    j
label_label_K    k
label_label_L    l
label_label_M    m
label_label_N    n
label_label_O    o
label_label_P    p
label_label_Q    q
label_label_R    r
label_label_S    s
label_label_T    t
label_label_U    u
label_label_V    v
label_label_W    w
label_label_X    x
label_label_Y    y
label_label_Z    z
dtype: object

In [129]:
letters.add_suffix('sam')

label_Asam    a
label_Bsam    b
label_Csam    c
label_Dsam    d
label_Esam    e
label_Fsam    f
label_Gsam    g
label_Hsam    h
label_Isam    i
label_Jsam    j
label_Ksam    k
label_Lsam    l
label_Msam    m
label_Nsam    n
label_Osam    o
label_Psam    p
label_Qsam    q
label_Rsam    r
label_Ssam    s
label_Tsam    t
label_Usam    u
label_Vsam    v
label_Wsam    w
label_Xsam    x
label_Ysam    y
label_Zsam    z
dtype: object

In [131]:
letters.head()

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
dtype: object

In [132]:
letters['label_A']

'a'

In [133]:
letters.label_A

'a'

In [135]:
letters['label_A':'label_F']

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
dtype: object

In [136]:
letters.loc['label_A':'label_F']

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
dtype: object

In [138]:
letter1 = letters.head(3)

In [139]:
letter1.loc[[True,False,True]]

label_A    a
label_C    c
dtype: object

In [140]:
letter1.loc[[True,True,True]]

label_A    a
label_B    b
label_C    c
dtype: object

In [143]:
letters.loc[[ True for i in range(26)]]

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [144]:
letters.loc[[ True if i%2==0 else False for i in range(26)]]

label_A    a
label_C    c
label_E    e
label_G    g
label_I    i
label_K    k
label_M    m
label_O    o
label_Q    q
label_S    s
label_U    u
label_W    w
label_Y    y
dtype: object

#iloc means integer loc. indexing by position
#loc means location. indexing by label

In [146]:
from string import ascii_lowercase
from string import ascii_uppercase
letters = pd.Series([i for i in list(ascii_lowercase)])
letters

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [147]:
letters = pd.Series(data=[i for i in list(ascii_lowercase)], index=list(ascii_uppercase))
letters

A    a
B    b
C    c
D    d
E    e
F    f
G    g
H    h
I    i
J    j
K    k
L    l
M    m
N    n
O    o
P    p
Q    q
R    r
S    s
T    t
U    u
V    v
W    w
X    x
Y    y
Z    z
dtype: object

In [148]:
letters = pd.Series(data=[i for i in list(ascii_lowercase)], index=list(map(lambda x: 'label_' +x ,list(ascii_uppercase))))
letters

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [149]:
letters.iloc[0]

'a'

In [150]:
letters.iloc[1:3]

label_B    b
label_C    c
dtype: object

In [151]:
letters.iloc[[1,4,9]]

label_B    b
label_E    e
label_J    j
dtype: object

In [154]:
letters.iloc[:-2]

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
dtype: object

In [155]:
letters.loc['label_A']

'a'

In [156]:
letters.loc[lambda x: 'label_A']

'a'

In [159]:
letters.loc[lambda x: ['label_A', 'label_B']]     #A lambda function is a small anonymous function.  lambda arguments : expression

label_A    a
label_B    b
dtype: object

In [167]:
aaa = lambda x: x+10
aaa

In [168]:
aaa(8)

18

In [169]:
aaa = lambda x: ['label_A', 'label_B']
aaa(8)

['label_A', 'label_B']

In [170]:
aaa = lambda x: [True for i in range(x.size)]
aaa(letters)

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True]

In [172]:
letters

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [171]:
letter1 = letters.loc[lambda x: [True for i in range(x.size)]]
letter1

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [173]:
letters

label_A    a
label_B    b
label_C    c
label_D    d
label_E    e
label_F    f
label_G    g
label_H    h
label_I    i
label_J    j
label_K    k
label_L    l
label_M    m
label_N    n
label_O    o
label_P    p
label_Q    q
label_R    r
label_S    s
label_T    t
label_U    u
label_V    v
label_W    w
label_X    x
label_Y    y
label_Z    z
dtype: object

In [174]:
def fun(x):
    return [True if i%2==0 else False for i in range(x.size)]
fun(letters)

[True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [175]:
letters.size

26

In [176]:
def fun(x):
    return [True if i%2==0 else False for i in range(x.size)]
letters.iloc[fun(letters)]

label_A    a
label_C    c
label_E    e
label_G    g
label_I    i
label_K    k
label_M    m
label_O    o
label_Q    q
label_S    s
label_U    u
label_W    w
label_Y    y
dtype: object

In [177]:
letters.get('label_A')

'a'

In [178]:
letters.loc['label_A']

'a'

In [179]:
letters['label_A']

'a'

In [180]:
letters.iloc[0]

'a'

In [181]:
letters.get(0)

'a'

In [182]:
#example

squares = pd.Series( i**2 for i in range(100))
squares.head()

0     0
1     1
2     4
3     9
4    16
dtype: int64

In [184]:
squares[-3:]

97    9409
98    9604
99    9801
dtype: int64

In [185]:
squares.iloc[-3:]

97    9409
98    9604
99    9801
dtype: int64

In [186]:
squares.tail(3)

97    9409
98    9604
99    9801
dtype: int64

In [187]:
squares.tail(3).equals(squares.iloc[-3:])

True

In [188]:
a = squares.iloc[-3:]
b = squares.tail(3)
a == b

97    True
98    True
99    True
dtype: bool

In [189]:
a.equals(b)

True